<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>VUE基础学习</title>
    <!-- 开发环境版本，包含了有帮助的命令行警告 -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
<div id="app">
    <ul>
        <li v-for="i in fruits">
            {{i}}，你好吃吗？
        </li>
    </ul>
    </br>
    <ul>
        <li v-for="(i ,index) in fruits">
            {{ index+1 }}：{{i}}
        </li>
    </ul>
    <h1 v-for="ii in likes" :title="ii.name">
        {{ii.name}}
    </h1>
</div>
<script>
    var app = new Vue({
        el: "#app",
        data: {
            fruits: [
                "苹果", "香蕉", "菠萝", "芒果", "西瓜", "火龙果", "无花果"
            ],
            likes:[
                {name:"狗"},
                {name:"猫"},
                {name:"猪"}
            ]
        }
    })
</script>
</body>
</html>